@charset "UTF-8";

/*? Variables CSS */
:root {
    --background-color: #222;
    --gray: #646464;
    --color-primary: #7d27e5;
    --color-secondary: #e4e9f7;
    --text-color: #fafafa;
    --primary-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    ;
}

/*? Variables en modo oscuro CSS */
/* @media (prefers-color-scheme: dark) {
    :root {
        --black: #ececec;
        --white: #393939;
    }
} */


/*? Reducir transiciones */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

/*? Eliminar margenes, relleno, dimensiones y alineación de contenido en contenedores */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

/*? Hacer que las imagenes y videos se adapten a su contenedor */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

/*? Ajustamos la etiqueta <a> como contenedor */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/*? Ajustamos la etiqueta <a> como texto */
p a {
    display: inline;
}

/*? Retirar estilos de elementos de listas */
li {
    list-style-type: none;
}

/*? Desplazamiento suave en el html */
html {
    scroll-behavior: initial;
}

/*? Eliminamos fuentes por defecto en las etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/*? Configuramos la tipografía para toda la web */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--primary-fonts);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.4em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/*? Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/*? Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*? Reseteamos las tablas */
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

/*? Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}